@CHARSET "ISO-8859-1";

* {
	font-family: helvetica;
}

body {
	background-color: #f5f5f5 !important;
}

.forms-adc, .forms-alter {
	max-width: 600px;
	left: 0;
	right: 0;
	margin: auto;
}

ul>li {
	list-style: none;
}

.errors {
	left: 0;
	right: 0;
	margin: auto;
	max-width: 400px;
	text-align: center;
}

.title-table {
	font-style: italic;
}

.ativo {
	border-bottom: 3px solid #FFA000;
}

.navbar-custom {
	background-color: #607D8B;
	border-radius: 0px !important;
}

li.menu-item>a {
	color: white;
}

li.menu-item>a:hover, .dropdown-toggle:hover, .navbar-brand:hover, li.menu-item>a:active
	{
	background-color: transparent !important;
}

.dropdown-toggle {
	color: white !important;
}

.navbar-brand {
	color: white;
}

.menu-item {
	margin-top: 3px;
	border-left: 1px solid #737373;
}

.menu-item-dropdown {
	border-right: 1px solid #737373;
}

.shopping-cart {
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -20px;
	margin-left: -20px;
}

.cart-li>.itens-qtd {
	color: white;
	background-color: #6CD66C;
	border-radius: 50%;
	padding: 0px 6px;
	position: relative;
	float: right;
	margin-left: -6px;
	font-size: 14px;
	margin-top: -5px;
}

.search-menu-cart {
	float: left;
	margin-right: -6px;
	margin-top: 15px;
	background-color: rgb(108, 214, 108);
	color: white;
	border-radius: 50px;
	padding: 2px;
}

.valor-total, .span-cart {
	font-size: 13px;
	font-weight: bold;
	color: #156F17;
}

.span-cart {
	text-align: center;
	font-size: 11px;
	margin-left: 34px;
}

.search-menu-cart:hover {
	color: white;
}

.search-menu-cart>.material-icons {
	font-size: 18px !important;
}

.navbar-right .dropdown-menu {
	margin-right: -50px !important;
}

.slide-tab {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	background: #4FC2E5;
	transition: all 0.5s;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent !important;
}

.responsive-menu-button {
	background-color: #FFA000 !important;
}

.new-user-form {
	max-width: 600px;
	left: 0;
	right: 0;
	margin: auto;
}

.qtde {
	border: 0;
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #3c763d;
}

.ripple {
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	position: absolute;
	opacity: 1;
}

.finalizar-compra-voltar {
	float: right;
}

.rippleEffect {
	-webkit-animation: rippleDrop .6s linear;
	animation: rippleDrop .6s linear;
}

@
-webkit-keyframes
	rippleDrop { 100% {
	-webkit-transform: scale(2);
	transform: scale(2);
	opacity: 0;
}

}
@
keyframes
	rippleDrop { 100% {
	-webkit-transform: scale(2);
	transform: scale(2);
	opacity: 0;
}

}
.qtdComprar::after {
	content: "Comprar";
	padding-left: 25px;
}

#produtos-section {
	max-width: 100%;
}

.product-thumbnail {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.thumbs {
	float: left;
	max-width: 250px;
	margin: 10px;
	background-color: white !important;
}

.thumbs>img {
	height: 305px !important;
}

.descricao-produto {
	font-size: 11.5px;
	text-align: justify;
	color: #383838;
}

.valor-produto {
	font-size: 25px;
	color: #44B749;
}

@media ( min-width : 768px) {
	.navbar-nav {
		margin-bottom: -1px !important;
	}
}

/** @Overrides */
.hvr-sweep-to-top:before {
	background-color: #607D8B !important;
}

.hvr-radial-out:before {
	background-color: #9AC8DE !important;
}
